@model Usuario
<div class="container-fluid" style="padding-top: 20px;">
    @if(Model.Tipo==TipoUsuario.Cliente)
    {
        <div class="card card-body">
            <h5>Meus Vouchers</h5>
            <h6>Crédito disponível: @ViewBag.Voucher.Credito.ToString("C")</h6>
            @if(ViewBag.Voucher.Credito==0){<span class="small">Você ainda não possui vouchers.</span>}                
            <br/>
            <div class="flex justify-content-start">
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalVoucher">COMPRAR VOUCHER</button>
            </div>
        </div>
        <br/>
        <div class="card card-body">
            <h5>Meus Pedidos</h5>
            @if(ViewBag.Pedidos==null){<span class="small">Você ainda não fez nenhum pedido.</span>}
            else{
                //LISTA DE PEDIDOS    
            }
            <br/>
            <a href="#" class="btn btn-sm btn-primary">NOVO PEDIDO</a>            
        </div>
        <div class="modal fade" id="modalVoucher" tabindex="-1" role="dialog" aria-labelledby="modalVoucherLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-light">
                    <div class="modal-header">
                        <h6 class="modal-title">Selecionar voucher</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="list-group radio-list-group">
                            <div class="list-group-item card card-body">
                                <label>
                                    <input type="radio" name="opcaoVoucher" id="platina" value="@TipoVoucher.Platina.ToString().ToLower()" checked>
                                    <span class="list-group-item-text">
                                        <b class="text-info">Platina</b><br/>
                                        <small>@(((int)TipoVoucher.Platina).ToString("C"))</small>
                                    </span>
                                </label>
                            </div><br/>
                            <div class="list-group-item card card-body">
                                <label>
                                    <input type="radio" name="opcaoVoucher" id="ouro" value="@TipoVoucher.Ouro.ToString().ToLower()">
                                    <span class="list-group-item-text">
                                        <b class="text-warning">Ouro</b><br/>
                                        <small>@(((int)TipoVoucher.Ouro).ToString("C"))</small>
                                    </span>
                                </label>
                            </div><br/>
                            <div class="list-group-item card card-body">
                                <label>
                                    <input type="radio" name="opcaoVoucher" id="prata" value="@TipoVoucher.Prata.ToString().ToLower()">
                                    <span class="list-group-item-text">
                                        <b class="text-secondary">Prata</b><br/>
                                        <small>@(((int)TipoVoucher.Prata).ToString("C"))</small>
                                    </span>
                                </label>
                            </div><br/>
                            <div class="list-group-item card card-body">
                                <label>
                                    <input type="radio" name="opcaoVoucher" id="bronze" value="@TipoVoucher.Bronze.ToString().ToLower()">
                                    <span class="list-group-item-text">
                                        <b style="color: #800000;">Bronze</b><br/>
                                        <small>@(((int)TipoVoucher.Bronze).ToString("C"))</small>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/comprar-voucher/platina" id="linkCompra" class="btn btn-sm btn-primary">COMPRAR</a>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/dashboard_cliente.js"></script>           
    }else{
        <div class="accordion" id="grupos">
            <div class="card">
                <div class="card-header" id="pedidos">
                    <h2 class="mb-0 lead">
                        Pedidos
                        <div class="float-right" data-toggle="collapse" data-target="#listaPedidos" aria-expanded="true" 
                        aria-controls="listaPedidos" style="cursor: pointer;"><i id="icon_pedidos" class="material-icons">expand_less</i></div>
                    </h2>
                </div>
                <div class="collapse show" id="listaPedidos" aria-labelledby="pedidos" data-parent="#grupos">
                    <div class="card-body container-fluid d-flex">
                        @if(ViewBag.Pedidos==null){<span>Nenhum pedido registrado no sistema</span>}
                        else{
                            //LISTA DE PEDIDOS
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="clientes">
                    <h2 class="mb-0 lead">
                        Clientes
                        <div class="float-right" data-toggle="collapse" data-target="#listaClientes" aria-expanded="false" 
                        aria-controls="listaClientes" style="cursor: pointer;"><i id="icon_clientes" class="material-icons">expand_more</i></div>
                    </h2>
                </div>
                <div class="collapse" id="listaClientes" aria-labelledby="clientes" data-parent="#grupos">
                    <div class="card-body container-fluid">
                        @if(ViewBag.Clientes==null){<span>Nenhum cliente registrado no sistema</span>}
                        else{
                            for(int i=0; i<ViewBag.Clientes.Count; i++)
                            {
                                <div class="card card-body">                                    
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="p-2">
                                            <h3>
                                                @ViewBag.Clientes[i].Usuario.Nome 
                                                <small class="small-title">
                                                    <em>(CPF: @ViewBag.Clientes[i].CPF)</em>
                                                </small>
                                            </h3>
                                            <ul class="list-group list-group-horizontal-lg list-dashboard">
                                                <li class="list-group-item border-0">
                                                    @ViewBag.Clientes[i].Telefone
                                                </li>
                                                <li class="list-group-item border-0">
                                                    @ViewBag.Clientes[i].Usuario.Email
                                                </li>
                                                <li class="list-group-item border-0">
                                                    @ViewBag.Clientes[i].Endereco
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-2 d-flex justify-content-end">
                                            <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                                            title="Ver pedidos"><i class="fas fa-receipt"></i><span class="btn-text pl-2">PEDIDOS</span></a>
                                        </div>
                                    </div>
                                </div>
                                @if(i < ViewBag.Clientes.Count-1 && ViewBag.Clientes.Count>0){<br>}
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="produtos">
                    <h2 class="mb-0 lead">
                        Produtos
                        <div class="float-right" data-toggle="collapse" data-target="#listaProdutos" aria-expanded="false" 
                        aria-controls="listaProdutos" style="cursor: pointer;"><i id="icon_produtos" class="material-icons">expand_more</i></div>
                    </h2>
                </div>
                <div class="collapse" id="listaProdutos" aria-labelledby="produtos" data-parent="#grupos">
                    <div class="card-body container-fluid">
                        @if(ViewBag.Produtos==null)
                        {
                            <div class="d-flex">
                                <div class="p-2"><span>Nenhum produto registrado no sistema</span></div>
                                <div class="p-2 flex-grow-1 d-flex justify-content-end">
                                    <a href="/produto/novo" class="btn btn-sm btn-primary">NOVO PRODUTO</a>
                                </div>
                            </div>
                        }else{  
                                <a href="/produto/novo" class="btn btn-sm btn-primary mb-4">NOVO PRODUTO</a>                        
                                @for(int i = 0; i<ViewBag.Produtos.Count; i++)
                                { 
                                    <div class="card card-body">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="p-2"> 
                                                <div class="thumbnail">                                            
                                                    <img class="rounded" src="~/imagens/@ViewBag.Produtos[i].ImagePath" width="75px" height="75px" 
                                                    onerror="this.src='/imagens/indisponivel.jpg'">
                                                    @if((int)ViewBag.Produtos[i].Status == 0)
                                                    {
                                                    <div class="unavailable-thumb">
                                                        <i class="fas fa-ban"></i>
                                                    </div>
                                                    }
                                                </div>  
                                            </div>
                                            <div class="p-2">
                                                <h3>@ViewBag.Produtos[i].Nome 
                                                    @((int)ViewBag.Produtos[i].Status == 0 ? 
                                                    Html.Raw(("<small class='small-title'><em>("+ViewBag.Produtos[i].Status+")</em></small>")) : Html.Raw(""))
                                                </h3>
                                                <ul class="list-group list-group-horizontal-lg list-dashboard">
                                                    <li class="list-group-item border-0">
                                                        <b>Preço: </b>@ViewBag.Produtos[i].Valor.ToString("C")
                                                    </li>
                                                
                                                @if(!(ViewBag.Produtos[i].TempoPreparo.Hours==0 && ViewBag.Produtos[i].TempoPreparo.Minutes==0))
                                                {
                                                    <li class="list-group-item border-0">
                                                        <b>Tempo de preparo:</b> 
                                                        @Extensoes.ToShortForm(ViewBag.Produtos[i].TempoPreparo)
                                                    </li>                                                        
                                                }
                                                </ul>
                                            </div>
                                            <div class="p-2 flex-grow-1 d-flex justify-content-end">
                                                <a href="/produto/editar/@ViewBag.Produtos[i].Id" class="btn btn-primary">
                                                    <span><i class="fas fa-pencil-alt"></i><span class="btn-text pl-2">EDITAR</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @if(!(i==0 && i==(ViewBag.Produtos.Count-1))){<br>}
                                }
                                @if(ViewBag.Produtos.Count==1){<br>}                            
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="~/dashboard_admin.js"></script>
    }
</div>
